/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    font-family: Tahoma, Geneva, sans-serif;
}

h1 {
    margin: 0 auto;
    margin-top: 20px;
    min-height: 150px;
    max-width: 960px;
    min-width: 700px;
    font-size: 58px;
    text-align: center;
    padding-top: 70px;
    background: linear-gradient(#FFFFFF, #F0F0F0);
    color: gray;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

h3 {
    margin: 0 auto;
    margin-top: 10px;
    min-height: 20px;
    max-width: 960px;
    min-width: 700px;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;
    background: #F0F0F0;
    color: gray;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

h5 {
    margin: 0 auto;
    margin-top: 11px;
    margin-bottom: 29px;
    min-height: 15px;
    max-width: 960px;
    min-width: 700px;
    font-size: 12px;
    text-align: center;
    padding: 12px 0px;
    background: #F0F0F0;
    color: gray;
    border: 1px solid #E8E8E8;
    border-radius: 5px;

}

.hidden {
    display: none;
}

.table {
    display: table;
    margin: 0 auto;
}

ul {
    min-width: 200px;
    text-align: center;

}

li {
    background-color: #3C3C3C;
    color: whitesmoke;
    font-size: 12px;
    padding-top: 20px;
    width: 200px;
    height: 32px;
    border-bottom: 1px solid #A9A9A9;
    border-top: 1px solid #404040;
    display: list-item;
    text-align: left;
    padding-left: 12px;

}

li:first-child {
    margin-top: 30px;
}

li:last-child {
    margin-bottom: 40px;
}

[class^="icon-"], [class*="icon-"] {
    background-image: url("glyphicons-halflings.png");
    background-position: 16px 16px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: text-top;
    width: 16px;
}

[class*="icon-"]:hover {
    background-image: url("glyphicons-halflings-white.png");
}

.icon-circle-question-mark {
    background-position: -96px -97px;
}

.icon-remove{
    background-position: -166px -97px;
    margin-left: 10px;
}

#guessEntry {
    margin-right: 8px;
    text-align: left;
    width: 119px;
    border: 1px solid #BBB;
    font-size: 27pt;
    vertical-align: bottom;
}
#guessEntry:focus{
    outline: none;
    box-shadow: none;
}

#btn_guess {
    font-size: 18px;
    font-weight: lighter;
    padding: 12px 11px;
    display: inline-block;
    position: relative;
    background-color: gray;
    color: whitesmoke;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
}

#btn_cheat {
    font-size: 18px;
    font-weight: lighter;
    padding: 12px;
    display: inline-block;
    position: relative;
    background-color: gray;
    color: #BBBBBB;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    margin-bottom: 10px;
}

#btn_cheat:hover {
    color: #F5F5F5;
}

#btn_newGame {
    margin-top: 10px;
    font-size: 18px;
    font-weight: lighter;
    padding: 12px;
    display: inline-block;
    position: relative;
    background-color: gray;
    color: #BBBBBB;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
}

#btn_newGame:hover {
    color: #F5F5F5;
}

[id*="btn_"]:focus {
    outline: none;
    border: 1px solid #BBBBBB;
    box-shadow: none;
}

#cheatDisplay
{
    margin-bottom: 30px;
}

