/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Tahoma, Geneva, sans-serif;
}

#header, #sub-header, #info  {
    margin: 20px auto;
    max-width: 960px;
    min-width: 700px;
    min-height: 22px;
    text-align: center;
    background: #F0F0F0;
    color: gray;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 10px 0;
}

#header {
    font-size: 48px;
    padding-bottom: 20px;
}

#sub-header {
    font-size: 18px;
}

.hidden {
   display: none;
}

.layout_btns {
    margin: auto;
    max-width: 960px;
    min-width: 700px;
    min-height: 22px;
    text-align: center;
}

li {
   margin: auto;
   background-color: #3C3C3C;
   color: whitesmoke;
   font-size: 12px;
   padding-top: 20px;
   width: 200px;
   height: 32px;
   border-bottom: 1px solid #A9A9A9;
   border-top: 1px solid #404040;
   display: list-item;
   text-align: left;
   padding-left: 12px;

}

li:first-child {
   margin-top: 30px;
}

li:last-child {
   margin-bottom: 40px;
}

li.winner {
   background-color: gray;
   border: 0;
   font-size: 14px;
   padding-top: 18px;
}

[class^="icon-"], [class*="icon-"] {
   background-image: url("../lib/glyphicons-halflings.png");
   background-position: 16px 16px;
   background-repeat: no-repeat;
   display: inline-block;
   height: 16px;
   line-height: 16px;
   vertical-align: text-top;
   width: 16px;
}

[class*="icon-"]:hover {
   background-image: url("../lib/glyphicons-halflings-white.png");
}

.icon-circle-question-mark {
   background-position: -96px -97px;
}

.icon-remove{
   background-position: -166px -97px;
   margin-left: 10px;
}

#guessEntry {
   margin-right: 7px;
   text-align: left;
   width: 117px;
   border: 1px solid #BBB;
   font-size: 27pt;
   vertical-align: top;
   margin-top: 3px;
}
#guessEntry:focus{
   outline: none;
   box-shadow: none;
}

[id^="btn_"],[id*="btn_"]{
    background-color: gray;
    color: #BBBBBB;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 10px;
    position: relative;
}

[id*="btn_"]:focus {
    outline: none;
    border: 1px solid #BBBBBB;
    box-shadow: none;
}

#btn_guess {
   padding: 12px 11px;
   color: whitesmoke;
}

#btn_cheat {
   padding: 12px 13px;
}

#btn_cheat:hover {
   color: #F5F5F5;
}

#btn_newGame {
   margin-right: 7px;
   padding: 12px 12px;
}

#btn_newGame:hover {
    color: #F5F5F5;
}
